h1 {
  font-family: 'Times New Roman', Times, serif;
}

.control-label {
  font-size: medium;
  font-weight:bold;
  font-family:'Times New Roman', Times, serif;
  box-sizing:border-box;
}

#python, #java, #go, #noSuggestion {
  display: none;
}

.container {
  
}